Repository KnapsackPro/knapsack-pro-js, pull requests merged in 2023-06, with the labels that each got.

#2 Exclude jest|cypress tags in changelogs
  packages/core/README.md
Labels: documentation, @knapsack-pro/core

#3 Use `KNAPSACK_PRO_FIXED_QUEUE_SPLIT=true` as default value in Queue Mode and use `false` for proper CI providers
  package-lock.json
  packages/core/.eslintrc.json
  packages/core/__tests__/ci-env.config.spec.ts
  packages/core/__tests__/fallback-test-distributor.spec.ts
  packages/core/__tests__/knapsack-pro-env.config.spec.ts
  packages/core/__tests__/test-files-finder.spec.ts
  packages/core/package.json
  packages/core/src/ci-providers/appveyor.ts
  packages/core/src/ci-providers/buildkite.ts
  packages/core/src/ci-providers/ci-provider.base.ts
  packages/core/src/ci-providers/circle-ci.ts
  packages/core/src/ci-providers/cirrus-ci.ts
  packages/core/src/ci-providers/codefresh-ci.ts
  packages/core/src/ci-providers/codeship.ts
  packages/core/src/ci-providers/github-actions.ts
  packages/core/src/ci-providers/gitlab-ci.ts
  packages/core/src/ci-providers/heroku-ci.ts
  packages/core/src/ci-providers/index.ts
  packages/core/src/ci-providers/semaphore-ci-2.ts
  packages/core/src/ci-providers/semaphore-ci.ts
  packages/core/src/ci-providers/travis-ci.ts
  packages/core/src/ci-providers/unsupported-ci.ts
  packages/core/src/config/ci-env.config.ts
  packages/core/src/config/knapsack-pro-env.config.ts
  packages/core/src/urls.ts
Labels: @knapsack-pro/core

#4 [breaking change] Update @knapsack-pro/core to 6.0.0
  package-lock.json
  packages/jest/package.json
Labels: @knapsack-pro/jest

#6 Mask user seats instead of hashing
  packages/core/src/config/knapsack-pro-env.config.ts
  packages/core/src/knapsack-pro-api.ts
Labels: @knapsack-pro/core

#7 deps(jest): update @knapsack-pro/core to 6.1.0
  package-lock.json
  packages/jest/package.json
Labels: @knapsack-pro/jest

#8 deps(cypress): update @knapsack-pro/core to 6.1.0
  package-lock.json
  packages/cypress/package.json
Labels: @knapsack-pro/cypress
